## Covid Data analysis in SQL

The COVID-19 data analysis project aims to utilize SQL to comprehensively explore and analyze a dataset consisting of `78,386` rows and `8` columns, including `country, province, latitude, longitude, date, confirmed, deaths, and recovered cases`. The project involves importing this data into a MySQL database, which is launched in MySQL Workbench and accessed from a notebook environment. By performing various data manipulation and querying tasks, the analysis seeks to uncover key insights such as tracking the spread of the virus over time, identifying trends in infection rates, evaluating the effectiveness of public health interventions, and comparing impacts across different regions.

### Connecting to our MySQL database

In [3]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook. 
%load_ext sql

In [59]:
# Establish a connection to the local database using the '%sql' magic command.
# Replace 'password' with our connection password. 

%sql mysql+pymysql://root:{password}@localhost:3306/mentorness

'Connected: root@mentorness'

### Explore the dataset

In [6]:
%%sql
SELECT * 
FROM mentorness.covid19 
Limit 5;

 * mysql+pymysql://root:***@localhost:3306/mentorness
5 rows affected.

[('Afghanistan', 'Afghanistan', 33.93911, 67.709953, '2020-01-22', 0, 0, 0),
 ('Afghanistan', 'Afghanistan', 33.93911, 67.709953, '2020-01-23', 0, 0, 0),
 ('Afghanistan', 'Afghanistan', 33.93911, 67.709953, '2020-01-24', 0, 0, 0),
 ('Afghanistan', 'Afghanistan', 33.93911, 67.709953, '2020-01-25', 0, 0, 0),
 ('Afghanistan', 'Afghanistan', 33.93911, 67.709953, '2020-01-26', 0, 0, 0)]

In [7]:
%%sql
SELECT count(*) as Observations 
FROM mentorness.covid19 ;

 * mysql+pymysql://root:***@localhost:3306/mentorness
1 rows affected.

[(78386,)]

### Questions
### 1.How many countries are present in the dataset

In [26]:
%%sql
SELECT COUNT(DISTINCT `Country/Region`) AS No_of_countries
FROM mentorness.covid19;

 * mysql+pymysql://root:***@localhost:3306/mentorness
1 rows affected.

[(121,)]

### 2. Check what is the start_date and end_date in the dataset.

In [19]:
%%sql
SELECT 
    MIN(Date) AS Start_date,
    MAX(Date) AS End_date
FROM mentorness.covid19;

 * mysql+pymysql://root:***@localhost:3306/mentorness
1 rows affected.

[('2020-01-22', '2021-06-13')]

### 3.Find the total number of confirmed, deaths and recovered cases

In [18]:
%%sql
SELECT 
    SUM(confirmed) AS total_confirmed_cases,
    SUM(Deaths) AS total_death_cases,
    SUM(Recovered) AS total_recovered_cases
FROM mentorness.covid19;

 * mysql+pymysql://root:***@localhost:3306/mentorness
1 rows affected.

[(Decimal('169065144'), Decimal('3647894'), Decimal('113089548'))]

### 4.Find top 5 countries having highest recovered cases.

In [25]:
%%sql
SELECT 
    `country/Region` AS Country,
    SUM(recovered) AS total_recovered_cases
FROM mentorness.covid19
GROUP BY `country/Region`
ORDER BY SUM(recovered) DESC
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/mentorness
5 rows affected.

[('India', Decimal('28089649')),
 ('Brazil', Decimal('15400169')),
 ('US', Decimal('6303715')),
 ('Turkey', Decimal('5202251')),
 ('Russia', Decimal('4745756'))]

### 5.Find top 5 countries having highest confirmed cases.

In [29]:
%%sql
SELECT 
    `country/Region` AS Country,
    SUM(confirmed) AS total_confirmed_cases
FROM mentorness.covid19
GROUP BY `country/Region`
ORDER BY SUM(confirmed) DESC
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/mentorness
5 rows affected.

[('US', Decimal('33461982')),
 ('India', Decimal('29460523')),
 ('Brazil', Decimal('17412766')),
 ('France', Decimal('6106009')),
 ('Turkey', Decimal('5330447'))]

### 6.Find top 5 countries having highest death cases.

In [33]:
%%sql
SELECT 
    `country/Region` AS Country,
    SUM(Deaths) AS total_death_cases
FROM mentorness.covid19
GROUP BY `country/Region`
ORDER BY SUM(Deaths) DESC
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/mentorness
5 rows affected.

[('US', Decimal('599769')),
 ('Brazil', Decimal('487401')),
 ('India', Decimal('370730')),
 ('Mexico', Decimal('230150')),
 ('Peru', Decimal('188708'))]

### 7. Find the total number of case of confirmed, deaths, recovered each month

In [35]:
%%sql

SELECT 
    DATE_FORMAT(date, '%Y-%m') AS Month,
    SUM(confirmed) AS total_confirmed,
    SUM(deaths) AS total_deaths,
    SUM(recovered) AS total_recovered
FROM mentorness.covid19
GROUP BY month
ORDER BY month;

 * mysql+pymysql://root:***@localhost:3306/mentorness
18 rows affected.

[('2020-01', Decimal('6384'), Decimal('190'), Decimal('143')),
 ('2020-02', Decimal('68312'), Decimal('2651'), Decimal('31405')),
 ('2020-03', Decimal('769236'), Decimal('41346'), Decimal('133070')),
 ('2020-04', Decimal('2336798'), Decimal('191833'), Decimal('792987')),
 ('2020-05', Decimal('2744333'), Decimal('144561'), Decimal('1519547')),
 ('2020-06', Decimal('3969634'), Decimal('137757'), Decimal('2535417')),
 ('2020-07', Decimal('6838092'), Decimal('167613'), Decimal('4693120')),
 ('2020-08', Decimal('7694938'), Decimal('179200'), Decimal('6202833')),
 ('2020-09', Decimal('8244794'), Decimal('160671'), Decimal('6647749')),
 ('2020-10', Decimal('11515841'), Decimal('175484'), Decimal('6782150')),
 ('2020-11', Decimal('16595938'), Decimal('262247'), Decimal('9172292')),
 ('2020-12', Decimal('19336799'), Decimal('339996'), Decimal('11924903')),
 ('2021-01', Decimal('18672205'), Decimal('401893'), Decimal('9164347')),
 ('2021-02', Decimal('10492664'), Decimal('298239'), Decimal('6719785')),
 ('2021-03', Decimal('13924790'), Decimal('282620'), Decimal('7888013')),
 ('2021-04', Decimal('21711021'), Decimal('362387'), Decimal('14205507')),
 ('2021-05', Decimal('19121083'), Decimal('366549'), Decimal('19131842')),
 ('2021-06', Decimal('5022282'), Decimal('132657'), Decimal('5544438'))]

### 8. Find monthly average for confirmed, deaths, recovered cases.

In [39]:
%%sql

SELECT 
    DATE_FORMAT(date, '%Y-%m') AS Month,
    ROUND(AVG(confirmed)) AS average_confirmed,
    ROUND(AVG(deaths)) AS average_deaths,
    ROUND(AVG(recovered)) AS average_recovered
FROM mentorness.covid19
GROUP BY month
ORDER BY month;

 * mysql+pymysql://root:***@localhost:3306/mentorness
18 rows affected.

[('2020-01', Decimal('4'), Decimal('0'), Decimal('0')),
 ('2020-02', Decimal('15'), Decimal('1'), Decimal('7')),
 ('2020-03', Decimal('161'), Decimal('9'), Decimal('28')),
 ('2020-04', Decimal('506'), Decimal('42'), Decimal('172')),
 ('2020-05', Decimal('575'), Decimal('30'), Decimal('318')),
 ('2020-06', Decimal('859'), Decimal('30'), Decimal('549')),
 ('2020-07', Decimal('1432'), Decimal('35'), Decimal('983')),
 ('2020-08', Decimal('1612'), Decimal('38'), Decimal('1299')),
 ('2020-09', Decimal('1785'), Decimal('35'), Decimal('1439')),
 ('2020-10', Decimal('2412'), Decimal('37'), Decimal('1421')),
 ('2020-11', Decimal('3592'), Decimal('57'), Decimal('1985')),
 ('2020-12', Decimal('4050'), Decimal('71'), Decimal('2498')),
 ('2021-01', Decimal('3911'), Decimal('84'), Decimal('1920')),
 ('2021-02', Decimal('2433'), Decimal('69'), Decimal('1558')),
 ('2021-03', Decimal('2917'), Decimal('59'), Decimal('1652')),
 ('2021-04', Decimal('4699'), Decimal('78'), Decimal('3075')),
 ('2021-05', Decimal('4005'), Decimal('77'), Decimal('4008')),
 ('2021-06', Decimal('2509'), Decimal('66'), Decimal('2769'))]

### 9. Find the top 10 countries with the highest death rates.

In [53]:
%%sql

SELECT 
    `country/Region` AS Country, 
    ROUND((SUM(Deaths) / SUM(Confirmed)) * 100) AS Death_rate
FROM mentorness.covid19
GROUP BY `country/Region` 
ORDER BY death_rate DESC
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/mentorness
10 rows affected.

[('Yemen', Decimal('20')),
 ('Mexico', Decimal('9')),
 ('Peru', Decimal('9')),
 ('Syria', Decimal('7')),
 ('Egypt', Decimal('6')),
 ('China', Decimal('5')),
 ('Bosnia and Herzegovina', Decimal('5')),
 ('Somalia', Decimal('5')),
 ('Afghanistan', Decimal('4')),
 ('Bolivia', Decimal('4'))]

### 10. Find the date with the highest number of confirmed cases

In [56]:
%%sql

SELECT Date, MAX(confirmed) AS highest_confirmed_cases
FROM mentorness.covid19
GROUP BY Date
ORDER BY highest_confirmed_cases DESC
LIMIT 1;

 * mysql+pymysql://root:***@localhost:3306/mentorness
1 rows affected.

[('2020-12-10', 823225)]